.signUpPaper {
  background-color: #34495e !important;
  margin-top: 40px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  color: #ffefd5;
  font-family: verdana;
  height: 10px;
}

.submitButton {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 120px;
}

.sign-in-link {
  font-size: smaller;
  color: #3498db;
}

.link {
  color: #ffefd5;
}
